
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */



/* ----- Variables ----- */
:root{
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /*Background*/
  --light-slate-blue : hsl(252, 100%, 67%);
  --Light-royal-blue : hsl(241, 81%, 54%);

  /*Circle*/
  --violet-blue : hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --white-body:hsl(300,0,100);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --body-family:'Hanken Grotesk', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style-type:none;
}
body{
    font-family: var(--body-family);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--white);
    padding: 1rem;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */


.card{
    width: 95%;
    box-shadow: 5px 5px 25px 7px rgba(0,0,0,0.06);
    display: flex;
    flex-direction: column;
}
.card:hover .card-header{
    --light-slate-blue :  hsl(241, 81%, 54%);
  --Light-royal-blue : hsl(252, 100%, 67%);
}
.card-header{
    background:linear-gradient(to bottom, var(--light-slate-blue), var(--Light-royal-blue));
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:--Light-royal-blue .7s ease-in, --light-slate-blue .7s ease-in;
}
.card-title{
    color: #beaeff;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}
.card:hover .card-circle{
    --violet-blue:hsla(241, 72%, 46%, 0);
    --persian-blue:hsla(256, 72%, 46%, 1);
}

.card-circle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: linear-gradient(to bottom,var(--violet-blue), var(--persian-blue) );
    margin-bottom: 2rem;
    transition:--violet-blue .7s ease-in, persian-blue .7s ease-in;
}

.card-number{
    font-size: 3rem;
    color: var(--white)
}
.card-detail{
    font-size: 1.3rem;
    color: #8e86ff;
}

.card-subtitle{
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1rem;
}
.card-text{
    color: #aba8ff;
    text-align: center;
    line-height: 1.6;
}

.card-body{
    background-color: var(--white-body);
    padding: 1.5rem 1.5rem 3rem 1.5rem;
}
.card-body .card-subtitle{
    color: hsl(234, 11%, 35%);
    margin-bottom: 1.2rem;
}
.card-results{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1.2rem;
}
.card-result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 0.8rem;
    border-radius: 8px;
}
.card-result:nth-child(1){
    background-color: #fff6f5;
}

.card-result:nth-child(2){
    background-color: #fffbf2;
}
.card-result:nth-child(3){
    background-color: #f2fbfa;
}
.card-result:nth-child(4){
    background-color: #f3f3fd;
}

.card-result:nth-child(1) .result-left{
    color: var(--light-red);
}
.card-result:nth-child(2) .result-left{
    color: var(--orangey-yellow);
}
.card-result:nth-child(3) .result-left{
    color: var(--green-teal);
}
.card-result:nth-child(4) .result-left{
    color: var(--cobalt-blue);
}
.result-left{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.result-black{
    font-weight: bold;
    margin-right: 6px;
}
.result-gray{
    color: #97a1a2;
}
.card-button{
    width: 100%;
    padding: 1rem;
    color: var(--white);
    border-radius: 1.5rem;
    background-color: var(--dark-gray-blue);
}


@media(width>=768px){
    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 750px;
        border-top-right-radius:2rem ;
        border-bottom-right-radius: 2rem;
    }
    
    .card-title{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .card-header{
        width: 375px;
        padding: 2rem 4.5rem;
        border-top-left-radius:2rem ;
        border-top-right-radius: 2rem;
    }
    .card-body{
        width: 375px;
        padding-bottom: 1.5rem;
    }
}

@property --light-slate-blue {
    syntax: '<color>';
    initial-value: hsl(252, 100%, 67%);
    inherits: false;
  }
  
  @property --Light-royal-blue  {
    syntax: '<color>';
    initial-value: hsl(241, 81%, 54%);
    inherits: false;
  }

  @property --violet-blue {
    syntax: '<color>';
    initial-value: hsla(256, 72%, 46%, 1);
    inherits: false;
  }
  
  @property --persian-blue {
    syntax: '<color>';
    initial-value:hsla(241, 72%, 46%, 0);
    inherits: false;
  }
